---
title: digdogger's play along blog
---
{% include page-header.html title=page.title subtitle=post_date %}

<div class="main card-container container-fluid">
  <div class="row">
    {% for post in site.posts %}
    <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
      <div class="card">
        <a href="{{ post.url }}"></a>
        <div class="card-header">Posted {{ post.date | date_to_string }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h6>
          <p class="card-text">{{ post.excerpt }}</p>
          <a href="#" class="card-link">View Post</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="main twitter-grid container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <a class="twitter-grid" data-partner="tweetdeck" href="https://twitter.com/digdoggerGG/timelines/1052409848472596480?ref_src=twsrc%5Etfw">Twitter Pulse</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
