body {
  padding-top: 59px;
  .main.card-container {
    position: relative;
    margin-top: -35px;
    .card>a{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  .main.twitter-grid {
    margin-top: 75px;
  }
}
