.post-top {
  background: #563d7c;
  min-height: 319px;
  background-image: url('/assets/images/lineart.png');
  background-size: 1188px 219px;
  background-position: top;
  background-repeat: no-repeat;
}
.post-title {
  color: white;
  margin-top: 170px;
  text-align: center;
}

.post-content {
  margin-top: -47px;
  position: relative;
  z-index: 20;
  .card {
    min-height: 580px;
  }
}