@import url('https://fonts.googleapis.com/css?family=Montserrat:200');

.resume.header {
  margin-top: 20px;
}

.resume.photo {
  height: 200px;
  width: 200px;
}
.resume.name {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 200;
  line-height: 48px;
}

.resume.address {
  padding-top: 50px;
  span {
    display: block;
  }
}

.legend {
  margin-top: 40px;
  .col {
    line-height: 16px;
    text-align: center;
  }
}

.legend-icon {
  border-radius: 3px;
  display: inline-block;
  height: 20px;
  margin-right: 7px; 
  width: 20px;
}

.diagram {
  margin-top: 50px;
  >.col {
    padding: 0 40px;
  }
}

.footer {
  margin-top: 80px;
  >.col {
    font-size: 12px;
  }
}